<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset</h1>
    <p>
      We send the password reset link as requested, please be aware of the link will only be valid in 1 hour:
    </p>
    <p>
      <%= @url %>
    </p>
    <p>If you didn't make the request, please ignore this email.</p>
  </body>
</html>
